*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
:root{
    --azul : #004A8D;
    --laranja-claro: #fdc180;
    --branco: #faf6f6;

    --brancoClaro:#f7e1cb;

    --back-color: rgba(248, 248, 248, 0.979);
    --text-color: black;
}
body{
    background-color: var(--back-color);
    color: var(--text-color);
}
a{
    color: var(--branco);
    text-decoration: none;
    font-size: 1rem;
}
ul{
    list-style-type: none;
}
li{
    align-items: center;
    padding: 10%;
}
/*header*/
header{
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: var(--azul);
}
header img, .logo{
    width: 10%;
}
.logo-menu{
    width: 70px;
}
span{
    margin: 0 3%;
    color: var(--branco)
}
header nav {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    z-index: 9;
    width: 30%;
    height: 55vh;
    top: 0;
    right: 0;
    padding: 16% 0;
    text-align: right;
    color: var(--branco);
    background-color: var(--azul);

}
#botao_fechar{
    margin-top: 36px;
}
.md-48{
    font-size: 48px;
}
/*banner*/
main #banner{
    margin:5% 2%;
    text-align: center;
}
main #banner img{
    width: 90%;
    border-radius: 30px;
    box-shadow: 4px 4px 6px  black;
}
/*topicos*/
main .topico{
    text-align: center;
    margin: 5%;
}
.topico #definicao{
    background-color: var(--laranja-claro);
    border-radius: 40px;
    padding: 2%;
}
.topico p{
    line-height: 25px;

}
main .topico h2, p{
    text-align: center;
    margin: 5%;
}
main img{
    margin: 5% 0;
    border-radius: 30px;
    box-shadow: 4px 4px 6px black;
}
#orientacoes{
    margin: 10% 5%;
}
#orientacaoD{
    padding: 5% 5%;
    box-shadow: 0 4px 18px #000;
    border-radius: 20px;
    background-color: var(--brancoClaro);
    width: 100%;
    height: 500px;
    color: var(--text-color);
}
#orientacaoPr{
    padding: 5% 5%;
    box-shadow: 0 4px 18px #000;
    border-radius: 20px;
    margin: 5% 0%;
    background-color: var(--brancoClaro);
    width: 100%;
    height: 500px;
    color: var(--text-color);

}
/*footer*/
footer{
    color: var(--branco);
    background-color: var(--azul);
    align-items: center;
}
footer p{
    margin: 0;
}


button{
    color: var(--branco);
    border: none;
    background-color: transparent;
}

/*medias*/
@media screen and (min-width: 1024px)
{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    #botao_menu{
        display: none;
    }
    a{
        color: var(--branco);
        text-decoration: none;
        font-size: 1rem;
    }
    ul{
        display: flex;
        list-style-type: none;
    }
    li{
        display: inline;
        margin-right: 24px;
    }
    header{ 
        display: flex;
        justify-content: space-between; 
        align-items: center;
        background-color: var(--azul);
        padding: 10px;
    }
    header img, .logo{
        width: 10%;
    }
    .logo-menu{
        margin: 0 1%;
        width: 75px;
    }
    header nav{
        display: block;
        flex-direction: row;
        position: relative;
        align-items: center;
        height: auto;
        padding: 0 22%;
    }
    header nav ul li:hover{
        background: var(--laranja-claro);
    }
    header nav ul li a:hover{
        color: #000;
    }
    h1{
        margin: 1% 0;
        font-size: 2rem;
    }
    main #banner{
        margin: 2% 0%;
        text-align: center;
    }
    main #banner img{
        margin: 10% 0;
        width: 50%;
        margin: 1%;
    }
    main .topico{
        margin: 5% 0;
    }
    main .topico h2, p{
        text-align: center;
        margin: 1% 1%;
    }
    main .topico p{
        font-size: 1.2rem;
    }
    #definicao{
        box-shadow: 0 4px 18px;
        margin: 0 5%;
        display: flex;
        justify-content: space-between;
        background-color: var(--laranja-claro);
        border-radius: 40px ;
    }
    .definicaoP{
        text-align: center;
        align-items: center;
        display: block;
    }
    #definicao img{
        margin: 0 1%;
        margin: auto;
        float: left;
    }
    #orientacoes{
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-items: center;
    }
    #orientacaoD{
        padding: 5% 5%;
        box-shadow: 0 4px 18px #000;
        border-radius: 20px;
        margin: 0 8%;
        background-color: var(--branco);
        width: 100%;
        height: 500px;
        color: var(--text-color);
        background-color: var(--brancoClaro);
    }
    #orientacaoD h2{
        padding: 5% 0;
    }
    #orientacaoPr{
        color: var(--text-color);
        padding: 5% 5%;
        box-shadow: 0 4px 18px #000;
        border-radius: 20px;
        margin: 0 8%;
        background-color: var(--branco);
        width: 100%;
        height: 500px;
        background-color: var(--brancoClaro);

    }
    #orientacaoPr h2{
        padding: 5% 0;
    }
    #orientacao-img{
        width: 100%;
    }
    #botao_fechar{
        display: none;
    }
    
}

